<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs', {user: user}) %>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">

    <div class="container  my-auto">
      <div class="row">
        <div class="col-md-6  mx-auto">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Categories table</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                
                <% if(categories.length > 0){ %>
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary font-weight-bolder opacity-7">Title</th>
                      <th class="text-uppercase text-secondary font-weight-bolder opacity-7 ps-2">Function</th>
                      <th class="text-uppercase text-secondary font-weight-bolder opacity-7 ps-2">Function</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% for(let cate of categories){ %>
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                                <p class="text-uppercase font-weight-bold mb-0"><%= cate.title %></p>
                            </div>
                          </td>
                          <td>
                            <a href="/admin/edit-cate/<%=cate._id%>?edit=true" class="btn bg-gradient-success w-40 my-4 mb-2">
                              Update
                            </a>
                          </td>
                          <td>
                            <!-- <input type="hidden" name="_csrf" value="<%=  %>"> -->
                            <input type="hidden" value="<%= cate._id %>" name="cateId">
                            <button type="button" class="btn bg-gradient-primary w-40 my-4 mb-2" onclick="deleteCate(this)">Delete</button>
                          </td>
                        </tr>
                    <% } %>
                  </tbody>
                </table>
                <% }else{ %>
                  <h3 class="text-primary text-capitalize ps-3">No Categories</h3>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>

  <!--   Core JS Files   -->
  <script src="/js/delete-cate.js"></script>
  
  <%- include('../includes/end.ejs') %>